services:
  # PostgreSQL za WebShop
  postgres-webshop:
    image: postgres:15-alpine
    container_name: webshop-db
    environment:
      POSTGRES_DB: webshop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_WEBSHOP_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - postgres-webshop-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # PostgreSQL za Banku
  postgres-bank:
    image: postgres:15-alpine
    container_name: bank-db
    environment:
      POSTGRES_DB: bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_BANK_PASSWORD}
    ports:
      - "5435:5432"
    volumes:
      - postgres-bank-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # PostgreSQL za PSP
  postgres-psp:
    image: postgres:15-alpine
    container_name: psp-db
    environment:
      POSTGRES_DB: psp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PSP_PASSWORD}
    ports:
      - "5436:5432"
    volumes:
      - postgres-psp-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  #PosgreSql za paypal
  postgres-paypal:
    image: postgres:15-alpine
    container_name: paypal-db
    environment:
      POSTGRES_DB: paypal
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD:  ${POSTGRES_PAYPAL_PASSWORD}
    ports:
      - "5437:5432"
    volumes:
      - postgres-paypal-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # WebShop API 
  webshop-api:
    build:
      context: ./backend
      dockerfile: WebShop/WebShop.API/Dockerfile
    container_name: webshop-api
    depends_on:
      postgres-webshop:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__WebShopDb=Host=postgres-webshop;Database=webshop;Username=postgres;Password=${POSTGRES_WEBSHOP_PASSWORD};Port=5432;SSL Mode=Disable
      - ASPNETCORE_URLS=http://+:80
      - Jwt__SecretKey=${WEBSHOP_JWT_SECRET_KEY}        
      - PSP__MerchantId=${WEBSHOP_MERCHANT_ID}          
      - PSP__MerchantPassword=${WEBSHOP_MERCHANT_PASSWORD}
    ports:
      - "5000:80"
    networks:
      - app-network

  # Bank API 
  bank-api:
    build:
      context: ./backend
      dockerfile: Bank/Bank.API/Dockerfile
    container_name: bank-api
    depends_on:
      postgres-bank:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__BankDb=Host=postgres-bank;Database=bank;Username=postgres;Password=${POSTGRES_BANK_PASSWORD};Port=5432;SSL Mode=Disable
      - ASPNETCORE_URLS=http://+:80
      - BANK_HMAC_SECRET=${BANK_HMAC_SECRET}
      - HmacSettings__SecretKey=${BANK_HMAC_SECRET}
    ports:
      - "5001:80"
    networks:
      - app-network

  # PSP API 
  psp-api:
    build:
      context: ./backend/PSP
      dockerfile: Dockerfile
    container_name: psp-api
    depends_on:
      postgres-psp:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-psp;Database=psp;Username=postgres;Password=${POSTGRES_PSP_PASSWORD};Port=5432;SSL Mode=Disable
      - ASPNETCORE_URLS=http://+:80
      - BankApiUrl=http://bank-api:80
      - WebShopApiUrl=http://webshop-api:80
      - BANK_HMAC_SECRET=${BANK_HMAC_SECRET}
      - BankSettings__TestBank__MerchantId=${BANK_MERCHANT_ID}
      - BankSettings__TestBank__SecretKey=${BANK_HMAC_SECRET}
      - CryptoSettings__ApiUrl=http://crypto-api:80
      - Jwt__SecretKey=${JWT_SECRET_KEY}
    ports:
      - "5002:80"
    networks:
      - app-network

  #PayPal API
  paypal-api:
    build:
      context: ./backend
      dockerfile: PayPal/PayPal.API/Dockerfile
    container_name: paypal-api
    depends_on:
      postgres-paypal:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-paypal;Database=paypal;Username=postgres;Password=${POSTGRES_PAYPAL_PASSWORD};Port=5432;SSL Mode=Disable
      - ASPNETCORE_URLS=http://+:80
      - PAYPAL_CLIENT_ID=${PAYPAL_CLIENT_ID}
      - PAYPAL_CLIENT_SECRET=${PAYPAL_CLIENT_SECRET}
      - PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com 
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - LOG_LEVEL=Information
    ports:
      - "5003:80"
    networks:
      - app-network

  # Vue Frontend za WebShop
  frontend-webshop:
    build:
      context: ./frontend/webshop
      dockerfile: Dockerfile
    container_name: frontend-webshop
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/webshop:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - webshop-api
    command: npm run dev -- --host 0.0.0.0
    networks:
      - app-network

  # Vue Frontend za Banku
  frontend-bank:
    build:
      context: ./frontend/bank
      dockerfile: Dockerfile
    container_name: frontend-bank
    ports:
      - "5172:5173"
    volumes:
      - ./frontend/bank:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://localhost:5001 #sta se ovde desilo...
    depends_on:
      - bank-api
    command: npm run dev -- --host 0.0.0.0
    networks:
      - app-network

  # Vue Frontend za PSP
  frontend-psp:
    build:
      context: ./frontend/psp
      dockerfile: Dockerfile
    container_name: frontend-psp
    ports:
      - "5174:5174"
    volumes:
      - ./frontend/psp:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5002
    depends_on:
      - psp-api
    command: npm run dev -- --host 0.0.0.0
    networks:
      - app-network

  # PostgreSQL za Crypto
  postgres-crypto:
    image: postgres:15-alpine
    container_name: crypto-db
    environment:
      POSTGRES_DB: crypto
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: crypto_password_123
    ports:
      - "5438:5432"
    volumes:
      - postgres-crypto-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # Crypto API Backend
  crypto-api:
    build:
      context: ./backend
      dockerfile: Crypto/Crypto.API/Dockerfile
    container_name: crypto-api
    depends_on:
      postgres-crypto:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-crypto;Database=crypto;Username=postgres;Password=crypto_password_123;Port=5432;SSL Mode=Disable
      - ASPNETCORE_URLS=http://+:80
      - CryptoSettings__Network=Sepolia
      - CryptoSettings__InfuraApiUrl=https://sepolia.infura.io/v3/27eed759b9a9440cada9559ed678d951
      - CryptoSettings__MerchantWalletAddress=0x02ee6C54748Ff5B968BeC71C2d1351C9dc5f8Aa0
      - CryptoSettings__ExchangeRateApiUrl=https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=eur
      - CryptoSettings__ConfirmationsRequired=1
      - CryptoSettings__PaymentExpiryMinutes=15
      - CryptoSettings__MonitoringIntervalSeconds=30
      - CryptoSettings__AmountTolerancePercent=1.0
      - CryptoSettings__FrontendUrl=http://localhost:5175
      - CryptoSettings__EtherscanApiUrl=https://api.etherscan.io/v2/api
      - CryptoSettings__EtherscanApiKey=EZII9UFDXZ9U29YAAVR4UC3D8C2HZN29Y4
      - CryptoSettings__EtherscanChainId=11155111
      - EncryptionSettings__Key=fRTEWkmsSahlURqImO7zDepw+ICVDwDUYrq7dO5LzSA=
      - EncryptionSettings__IV=itbW3K9qWb5u3muUMmsj5g==
      - PSPSettings__FrontendUrl=http://localhost:5174
    ports:
      - "5004:80"
    networks:
      - app-network

volumes:
  postgres-webshop-data:
  postgres-bank-data:
  postgres-psp-data:
  postgres-paypal-data:
  postgres-crypto-data:

networks:
  app-network:
    driver: bridge

